$blue = #35A7FF
$dark-blue = #38618C
$white = #FFFFFF
$red = #FF5964
$yellow = #FFE74C
$green = #B8E0D2

.blue
  background-color $blue
.dark-blue
  background-color $dark-blue
.white
  background-color $white
.red
  background-color $red
.yellow
  background-color $yellow
.green
  background-color $green

.color-blue
  color $blue
.color-white
  color $white
.color-red
  color $red


button
  background-color $white
  &:hover
    background-color lightgray

p
  padding-top 50%
  text-align center
  font-size 30px
