.visible-slide
  display block

.hidden-slide
  display none

.fullpage-lock
  overflow-x hidden
  overflow-y hidden

.fullpage-react-horizontal-slider
  overflow-x scroll
  overflow-y hidden
  white-space nowrap

  .fullpage-react-slide
    display inline-block